*{
    margin:0;
    box-sizing: border-box;
    color: #920bb8;
    text-align: center;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
}
.fullpage{
    height: 100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:rgba(0, 0, 0,0.5);
    padding-top: 50px;
    padding-bottom: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    right: 25px;
  }
  
  .h1 {
    text-align: center;
    color:rgb(139, 0, 0)
  }
  
  
  .alert {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 45px;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
  }
